@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


/* Header.js */
.header-section {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.header-section h1 {
  color: #f1356d;
}
.header-section .links {
  margin-left: auto;
}
.header-section a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.header-section a:hover {
  color: #f1356d;
}



/* Main.js */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}


/*  Content.js */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*  AddNewJournal.js */
.new-journal {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.new-journal label{
  text-align: left;
  display: block;
}

.new-journal input, .new-journal textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.new-journal button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}




/* footer.js */

.footer-sec{
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 0%;
  margin: 0 auto;
  color: grey;
}